extends base
include mixins/message

block content 
    h1 Home!
 
    div    
        form(method="POST")#commentForm
            input(placeholder="Username", type="text", name="name",required, autoComplete="off")#commentInput1
            input(placeholder="Message..." type="text",name="text", required,autoComplete="off")#commentInput2
            input(type="submit", value="Send")#commentSend    
    ul
        h4 Bot 
        div : 안녕하세요. 퀸텟시스템즈 챗봇입니다. 궁금하신 것을 말씀해 주세요.
        div ex) 운영 시간, 회사 위치, 사이트 주소, 방문 에약
    ul 
        each message in messages 
            +message(message)
    


    