extends base
include mixins/message

block content 
    h1 Home!    
    ul
        h4 bot 
        div : 무엇을 도와드릴까요~?
    ul 
        each message in messages 
            +message(message)
    div    
        form(method="POST")#commentForm
            input(placeholder="Username", type="text", name="name",required)#commentInput1
            input(placeholder="Message..." type="text",name="text", required)#commentInput2
            input(type="submit", value="Send")#commentSend

